$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

$light-grey: #F0F0F0;
$grey: #D3D3D3;
$grey-background: rgba(211, 211, 211, 0.4);
$dark-grey: #676767;

$blue: #0096FF;
$dark-blue: #0000FF;

$black: #000000;
$white: #ffffff;